---
title: "My Document"
format: 
  pdf: 
    documentclass: report
    lof: true
    lot: true
    geometry:
      - top=30mm
      - left=20mm
      - heightrounded
    colorlinks: true
---

# Cargado de librerías

In [1]:
import pandas as pd
import numpy as np
import os

## Cargado de datos

In [5]:
mainpath = r"C:\Users\DELL\OneDrive\Formación\Python\Datasets"
filename = "Datos ventas.csv"
fullpath = os.path.join(mainpath,filename)
dataset = pd.read_csv(filepath_or_buffer = fullpath, sep = ";", encoding = "utf8")
#print(type(dataset))
# dataset.head()

   N°  Pedido       Fecha  Cliente   Segemento  Ventas [unid] Ventas [$]
0   1  225348   17/3/2021       30  Segmento 8            NaN      47,05
1   2  966601   6/12/2021       22  Segmento 3            NaN     674,93
2   3  241199   19/2/2021        9  Segmento 3            NaN     326,04
3   4  593262   3/11/2021       12  Segmento 7            NaN     392,91
4   5  272268  25/12/2021       26  Segmento 8            6.0     252,83

## Funciones para estadística descriptiva

### Medidas de tendencia central

#### Media aritmética o promedio

Esta función excluye automáticamente a los valores faltantes (NaN)

In [3]:
dataset['Ventas [unid]'].mean(skipna = True)

4.968196819681968

In [13]:
np.mean(dataset['Ventas [unid]'])

4.968196819681968